@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cookie;
  src: url("../font/Cookie-Regular.ttf");
}
@font-face {
  font-family: GT;
  src: url("../font/gt.ttf");
}
